*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

builddir/
build/

# Subprojects downloaded by Meson
subprojects/googletest-*/
subprojects/packagecache/

settings.json

# Nsight Systems profile output
nsys_*.nsys-rep
*.qdrep
